@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900'); /** font-family: 'Montserrat', sans-serif; **/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fchHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
.currentPage {
    color:  #00c8c8;
}
html, body, header, footer, main, ul, h1 {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
    color:inherit;
}
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0px;
    left:0px;
    z-index: 99999;
    width:2050px;
    height: 44px;
}
header .UserDetailsNav {
    display: inline-block;
    background-color: #333333;
    width:2050px;
    height: 44px;
}
header .UserDetailsNav .currencyBox {
    color: #777777;;
    font-family:'Montserrat';
    position: relative;
    font-size: 13px;
    width:117px;
    float: left;
    font-weight: 400;
    text-align: left;
    margin: 0px;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin: 0;
    padding: 0;
    left: 440px;
    top:16px;
}
header .UserDetailsNav .currency {
    background-color: #333333;
    border: 0px;
    font-family:'Montserrat';
    color:  #777777;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;    
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 50px;
}
.UserDetailsNav .currencyBox::after{
    content:"\f078";   
    font-family: "FontAwesome";
    position: relative;;
    font-size: 11px;
    color:  #777777;
    text-align: right;
    pointer-events:none;
    top: -16px;
    left: 100px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .UserDetailsNav.currency {padding-right:50px}
}
header .UserDetailsNav ul {   
    position: absolute;
    list-style: none;
    left: 1247px;
    top:16px;
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat';
    color:  #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
header .UserDetailsNav ul li{
    display: inline-block;
    padding-right:60px;
    white-space: nowrap;
}
header .shoppingCart {
    position: absolute;
    background-color:  #00c8c8;
    width: 147px;
    height: 44px;
    left: 1463px;
    top:0px;
    padding:0;
    margin: 0;
}
header .shoppingCart .fa-angle-down {
    position: relative;
    top:1px;
    left: 114px;
    font-family: FontAwesome;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}
header .shoppingCart img {
    position: absolute;
    left:22px;
    top:14px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    font-family:'Montserrat';    
}
header .shoppingCart p{
    position: relative;
    float:right;
    list-style: none;
    top:12px;
    left: -40px;
    margin: 0px;
    padding: 0px;
    background-color:  #00c8c8;
    border:0px;
    font-family:'Montserrat';
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
header .shoppingCart p{
    position: relative;
    float:right;
    list-style: none;
    top:12px;
    left: -40px;
    margin: 0px;
    padding: 0px;
    background-color:  #00c8c8;
    border:0px;
    font-family: 'Montserrat';
    color:  #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
main .top{
    position: absolute;
    background-color:  #f8f8f8;
    width: 2050px;
    top:44px;
    height: 112px;
    float:left;
}
main .search {
    font-family: FontAwesome;
    position: relative;
    float:right;
    top:47px;
    right:119px; 
}
main .search img {
    position: relative;
    top: 3.5px;
    right: 22px;
}
    input::-webkit-input-placeholder {
        color: #989898;
        padding:10px;
        }
    input:-moz-placeholder { 
        color: #989898;
        padding:10px;
    }
    input::-moz-placeholder { 
        color: #989898;
        padding:10px;
    }
    input:-ms-input-placeholder { 
        color: #989898;
        padding:10px;
    }
main .search input {
    border-style: solid;
    border-width: 1px;
    border-color:  #e7e7e7;
    box-sizing: border-box;
    background-color:  rgba(248, 248, 248, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    width: 190px;
    height: 30px;
}
main h1{
    position: absolute;
    float:left;
    font-family: 'Montserrat';
    color:  #222222;
    font-weight: 700;
    font-variant-caps: all-small-caps;
    text-align: left;
    left:134px;
    top:23px;
    font-size:34px;
    width: 300px;
}
main .MainNavList .MainNavul{
    display: flex;
    flex-direction: row;    
    Justify-content: space-between;  
    flex-wrap: nowrap;
    position: absolute;
    top:47px;
    left:1015px;
    width: 595px;
}
main .MainNavList .MainNavli{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color:  #222222;
    font-variant-caps: all-small-caps;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
}
main .MainNavList .MainNavli .fa-angle-down {
    float:left;
    font-family: FontAwesome;
    color:  #989898;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}
.MainNavList .MainNavli:hover {
    color:  #00c8c8;
}
.MainNavli:hover .Mens_NavPopUp {
    display: block;
}
main .Mens_NavPopUp {
    display: none;
    position: absolute;
    margin:0;
    z-index: 1;
    background-color:  #f8f8f8;
    box-shadow: 8px 15px 24px 0px rgba(0, 0, 0, 0.14);
    width: 467px;
    height: 527px;
    top: 55px;
    float:left;
}
main .Mens_NavPopUp .PopUpList {
    position: relative;
    display: inline-block;
    padding: 0px 106px 0px 0px;
    vertical-align: top;
    height: 296px;
    top:-10px;
    left:-30px;
}
main .Mens_NavPopUp .PopUpList ul {
    position: relative; 
    list-style: none;
    padding: 0;
    margin:0;
    font-family: 'Montserrat';
    color:  #727272;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    top: 43px;
}
main .PopUpList h3 {
    position: relative;
    font-family: 'Montserrat';
    color:  #575153;
    margin:0;
    padding:0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    top: 30px;
}
main .PopUpAutomnSale {
    background-color:  #333333;
    position: relative;
    left: 30px;
    margin:0;
    padding: 0;
    width: 407px;
    height: 200px;
}
main .PopUpAutomnSale p {
    position: relative;
    font-family: 'Montserrat';
    color:  #ffffff;
    font-size: 36px;
    line-height: 48px;
    font-variant-caps: all-small-caps;    
    text-align: center;
    top:53px;
    margin:0;
    padding: 0;
}
.MainNavli:hover .Lookbook_NavPopUp {
    display: block;
}
main .Lookbook_NavPopUp {
    display: none;
    position: absolute;
    margin:0;
    z-index: 1;
    background-color:  #f8f8f8;
    box-shadow: 8px 15px 24px 0px rgba(0, 0, 0, 0.14);
    width: 467px;
    height: 407px;
    top: 55px;
    float:left;
}
main .Lookbook_NavPopUp .PopUpList {
    position: relative;
    display: inline-block;
    padding: 0px 106px 0px 0px;
    vertical-align: top;
    height: 296px;
    top:-10px;
    left:-30px;
}
main .Lookbook_NavPopUp .PopUpList ul {
    position: relative; 
    list-style: none;
    padding: 0;
    margin:0;
    font-family: 'Montserrat';
    color:  #727272;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    top: 43px;
}
main .Lookbook_NavPopUp .PopUpAutomnSale {
    position: relative;
    bottom: 119px
} 
main .topBanner {
    position: relative;
    top: 112px;  
    float: left;    
    margin:0;
    padding:0;
}
main .topBannerimg {
    background-color: rgba(51, 51, 51, 0.75);
    position: relative;
    left: 0;
}
.topBanner .aveBox {
    position: relative;
    float:left;
    left: 260px;
    display: flex;
    flex-direction: row;
    align-content: top;
    justify-content: space-between;
    top:-898px;
    height:315px;
    width:1529px;
    padding: 0;
    margin:0;
    font-family: 'Montserrat';
    color: rgba(248, 248, 248, 0.219608);    
    font-size: 450px;
    font-weight: 700;
}
main .topBanner h2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 65px;
    font-weight: 300;
    text-align: center;
    height: 36px;
    /* top:-22px; */
    top: 142px;
    left: 809px;
    float:left;
    margin:0;
    padding:0;
    letter-spacing: 3px;
    font-variant-caps: all-small-caps;
}
main .topBanner h2 span {
    font-weight: 700;
}
main .topBanner .slogan {
    position: absolute  ;
    font-family: 'Montserrat';
    color:  #ffffff;
    margin:0;
    padding:0;
    top: 244px;
    left: 406px;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    white-space: nowrap;
    font-variant-caps: all-small-caps;
}
main .topBanner .darken {
    background-color: rgba(51, 51, 51, 0.75);
    width: 2050px;
    height:450px;
    position: absolute;
    top: 0px;  
    float: left;
}
main .productView {
    position: absolute;
    left:440px;
    top:669px;
    width: 1170px;
    height: 1067px;
}
main .productView .MainPicsAndInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 710px;
}
main .MainPicsAndInfo .productimg {
background-image: url("Avenue_Images\\ClassicSweatshirt.jpg");
width: 570px;
height: 710px;
}
main .MainPicsAndInfo .productimg .fa {
    position: relative;
    top: 339px;
    font-family: FontAwesome;
    color:  #575153;
    font-size: 48px;
    font-weight: 400;
    width: 45px;
    height: 55px;
    text-align: center;
}
main .productimg .fa:hover {
    color:  #ffffff;
    background-color:  #00c8c8;
    width: 45px;
    height: 55px;    
}
main .productimg .fa-angle-left {

}
main .productimg .fa-angle-right {
    position: relative;
    left:477px;
}
main .MainPicsAndInfo h3 {
    font-family: Montserrat;
    color:  #575153;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    font-variant-caps: all-small-caps;
    padding: 0;
    margin: 0;
}
main .productinfo .reviewLine {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:568px;
    height: 17px;
}
.productinfo .reviewLine .inline {
    display: inline-block;
}
.productinfo .reviewLine .left {
    width: 180px;
    border-right: 2px #dfdfde solid;
}
.productinfo .reviewLine .center {
    border-right: 2px #dfdfde solid;
    cursor: pointer;
} 
.productinfo .reviewLine p {
    font-family: Montserrat;
    color:  #727272;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
}
.productinfo .reviewLine p:hover {
    color:  #00c8c8;
}
.productinfo .reviewLine .stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70px;
    padding-right:10px;
}
.productinfo .reviewLine .stars .full {
    font-family: FontAwesome;
    color:  #ded3aa;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.productinfo .reviewLine .stars .empty {
    font-family: FontAwesome;
    color:  #dfdfde;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.reviewLine .center p {
    padding-right: 18px;
}
.reviewLine .right p {
    padding-right: 8px;
}
.productinfo .reviewLine .shareBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:180px;
    font-family: FontAwesome;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
main .productinfo .rrp {
    position: relative;
    top: 54px;
    margin:0;
    padding:0;
    font-family:'Montserrat';
    color:  #9a9a9a;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}
main .productinfo .currency {
    position: relative;
    top:4px;
    font-size: 0.5em;
    vertical-align: text-top;
    margin: 0;
}
main .productinfo .oldPrice {
    text-decoration-line: line-through;    
}
main .productinfo .newPrice {
    padding-left: 25px;
}
main .productinfo .productTags {
    position: relative;
    top:80px;
    font-family: Roboto;
    color:  #8c8c8c;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
main .productTags .tags {
    color:  #00c8c8;
}
main .productTags .title {
    font-family: 'Montserrat';
    color: #575153;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    font-variant-caps: all-small-caps;
}
main .productTags ul {
    list-style: none;
}
main .productinfo .MerketialText{
    position: relative;
    top:104px;
    font-family: Roboto;
    color:  #8e8c8c;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width:570px;
}
main .MerketialText p {
    padding-bottom: 15px;
    margin: 0;
}
main .MerketialText ul {
    list-style: none;
}
main .MerketialText li::before {
content: " • ";
color: #cccccc;
padding-right: 10px;
}

main .productinfo .productSelect {
    position: relative;
    top: 126px;
}
main .productSelect .selectBox {
    display: inline-block;
    padding-right:30px;
    margin: 0;
}
main .productSelect .selectBox p {
    font-family: 'Montserrat';
    color:  #575153;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    font-variant-caps: all-small-caps;
}
main .productSelect select {
    border: 1px  #e7e7e7 solid;
    box-sizing: border-box;
    background-color:  rgba(45, 113, 240, 0);
    width: 170px;
    height: 35px;
    font-family: 'Montserrat';
    color:  #989898;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.productSelect .containter {
    width: 170px;
    height: 35px;
    border: 1px  #e7e7e7 solid;
    box-sizing: border-box;
    background-color:  rgba(45, 113, 240, 0);
}
.productSelect .qtyContainter {
    width: 70px;
    height: 35px;
    border: 1px  #e7e7e7 solid;
    box-sizing: border-box;
    background-color:  rgba(45, 113, 240, 0);
}
.productSelect .color .fa {
    position: relative;
    top:-27px;
    left:150px;
    color:  #989898;    
}
.productSelect .size .fa {
    position: relative;
    top:-27px;
    left:150px;
    color:  #989898;    
}
.productSelect .qtyContainter .fabox {
    display: flex;
    flex-direction: column;
    height: 35px;
    position: relative;
    top:-36px;
    left:36px;
    color:  #989898;    
}
.productSelect .qty button {
    border: 1px  #e7e7e7 solid;
    background-color: inherit;
    width: 33px;    
    color:  #989898;
}

main .productinfo .AddToButtons {
    position: relative;
    top:150px;
    width: 570px;
    height: 119px;
}
main .AddToButtons .AddToCart {
    background-color:  #333333;
    width: 241px;
    height: 59px;
    font-family: 'Montserrat';
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    font-variant-caps: all-small-caps;
    cursor: pointer;
}
main .AddToButtons .AddToCart .fa{
    font-family: FontAwesome;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-right:3px;
}
main .AddToButtons .AddToLookbook {
    border: 2px solid #737373;
    box-sizing: border-box;
    background-color: rgba(115, 115, 115, 0);
    width: 303px;
    height: 59px;
    font-family: 'Montserrat';
    color:  #454647;    
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    font-variant-caps: all-small-caps;
    cursor: pointer;
}
main .AddToButtons .AddToLookbook .fa{
    font-family: FontAwesome;
    color:  #454647;
    font-size: 17px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-right:9px;
    margin: 0;
}
main .AddToButtons .AddToCompare {
    position: relative;
    top:10px;
    left: 7px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    width: 250px;
    height: 59px;
    font-family: 'Montserrat';
    color:  #454647;    
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    font-variant-caps: all-small-caps;
    outline:none;
    cursor: pointer;
}
main .AddToButtons .AddToCompare .container {
    position: relative;
    left: -13px;
    top:28px;
    border-radius: 50%;
    background-color:  #727272;
    width: 30px;
    height: 30px;
    text-align: center;
}
main .AddToButtons .AddToCompare .fa{
    position: relative;
    top:1px;
    font-family: FontAwesome;
    color:  #ffffff;    
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
main .productView .productMenu {
    position: relative;
    top: 38px;
    height: 350px;
    
}
main .productMenu .navBar{
    background-color:  #f8f8f8;
    width: 1170px;
    height: 50px;
}
main .productMenu .navBar li {
    list-style: none;
    display: inline-block;
    padding-right:30px;
}
main .productMenu .navBar li button {
    font-family: 'Montserrat';
    color:  #575153;
    font-size: 20px;
    font-weight: 600;
    font-variant-caps: all-small-caps;
    border: none;
    background-color: transparent;
    width: 141px;
    height: 50px;
}
.productMenu .navBar .delivaryReturns button{
    width: 241px;
}
/* .productMenu .navBar button:active{
    background-color:  #333333;    
    color:  #ffffff;   
}
.productMenu .navBar button:focus{
    background-color:  #333333;  
    color:  #ffffff;
} */
.productMenu .navBar button {
    outline:none;
}
.productMenu .navBar .description button {
    background-color:  #333333;    
    color:  #ffffff;
}
.descriptionBox {
    position: absolute;
    font-family: Roboto;
    color:  #8e8c8c;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
.productMenu .descriptionBox {
    font-family: 'Montserrat';
    color:  #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
footer {
    position: absolute;
    width: 2050px;
    height: 634px;
    top: 1861px;
}
footer .sitemap {
    background-color:  #f8f8f8;
    width: 2050px;
    height:596px;
    margin:0;
    padding:0;
}
footer .sitemap ul {
    list-style: none;
    font-family:'Montserrat';
    color:  #727272;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}
footer .sitemapColumns {
    display: inline-block;
    vertical-align: top;
    padding: 0px 102px 0px 0px;
}
footer .sitemapColumns h4 {
font-family:'Montserrat';
color:  #575153;
font-size: 17px;
font-weight: 600;
line-height: 20px;
text-align: left;
font-variant-caps: all-small-caps;
}
footer .sitemap nav {
    position: relative;
    left:0px;
    top: 43px;
    width: 2050px;
    text-align: center;
}
footer .sitemap address {
    font-style: inherit;
}
footer .sitemap .postalAddress {
    position: relative;
    top:5px;
    display: flex;
    flex-direction: column;
    height: 34px;
    align-content: space-between;
    padding-bottom: 26px;
}
footer .sitemap .postalAddress p {
    margin:0;
    padding:0;
    height: 18px;
    position:relative;
    top:-5px;
}
footer .footerBoxes{
    position: relative;
    top: 98px;
    margin:0;
    padding: 0;
    text-align: center;
    height: 200px;
}
footer .footerBox {
    display: inline-block;
    vertical-align: center;
}
footer .awardBox{
    background-color:  #333333;
    width: 570px;
    height: 200px;
    text-align: center;
    margin-right:30px;
}
footer .socialMediaBox {
    position: relative;
    bottom: 93px;
    background-color:  #00c8c8;
    width: 570px;
    height: 200px;
    text-align: center;
}
footer .awardBox h3{
    position: relative;
    top:10px;
    font-family:'Montserrat';
    font-variant-caps: all-small-caps;
    letter-spacing: 2px;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    width:inherit;
}
footer .awardBox .fashion {
    position: relative;
    top:5px;
    color:  #ffffff;
    font-size: 46px;
    font-weight: 300;
    text-align: center;
}
footer .socialMediaBox .icons {
    display:flex;
    flex-direction: row;
    position: relative;
    left: 144px;
    top:83px;
    width: 281px;
    height: 34px;
    justify-content: space-between;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}
footer .copyrightsLine {
    background-color:  #333333;
    width: 2050px;
    height: 45px;
    margin:0;
    padding:0;
}
footer .copyrightsLine p {
    margin: 0;
    padding: 0;
}
footer .copyrightsLine .copyrights {
    position: relative;
    font-family:'Montserrat';
    color:  #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 164px;
    height: 11px;
    left:440px;   
}
footer .copyrightsLine .credits {
    position: relative;
    left: 1216px;
    top: 4px;
    display: flex;
    justify-content: space-between;
    width: 395px;
    height:13px;
    font-family:'Montserrat';
    color:  #777777;
    font-size: 13px;  
    font-weight: 400;
}
footer .copyrights .tm {
    font-size: 0.75em;
    vertical-align: text-bottom;
    margin: 0;   
    font-variant-caps: all-small-caps;
}